/* Upright/Roman file */
@font-face {
  font-family: 'Roboto Variable';
  src: url('assets/Roboto-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

/* Italic file */
@font-face {
  font-family: 'Roboto Variable';
  src: url('assets/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}

body {
    margin: 0;
    background: #f3f4f6;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto Variable', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

h3 {
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 1rem;
    font-style: italic;
}

h4 {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: #374151;
}

h5 {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-rows: fit-content(200px) 1fr;

    div {
        padding: 20px 40px;
    }

    .top-nav {
        display: flex;
        justify-content: end;
        background-color: black;

        button {
            padding: 10px 25px;
            border: none;
            border-radius: 10px;
            background-color: azure;
        }
    }

    .body {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.8rem;
        padding: 40px;

        .card {
            background: white;
            border-radius: 16px;
            padding: 1.5rem;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
            transition: transform 0.2s, box-shadow 0.2s;
            border-left: 6px solid black;
            gap: 5px;

            .card-buttons {
                padding: 0 !important;
                display: flex;
                gap: 10px;

                button {
                    flex: 1;
                    border: none;
                    border-radius: 30px;
                    padding: 0.5rem 0;
                    font-size: 0.9rem;
                    font-weight: 500;
                    cursor: pointer;
                    transition: background 0.2s;
                }
            }
        }
        .read {
            background-color: #dcfce7;
            color: #166534;
            display: inline-block;
            padding: 0.2rem 1rem;
            border-radius: 30px;
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 1.2rem;
        }
        .not-read {
            background-color: #fee2e2;
            color: #991b1b;
            display: inline-block;
            padding: 0.2rem 1rem;
            border-radius: 30px;
            font-size: 0.9rem;
            font-weight: 500;
            margin-bottom: 1.2rem;
        }
    }
}

#modal[open] {
    border: none;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    max-width: 450px;
    width: 90%;

    .close-modal {
        padding: 0;
        background: transparent;
        align-self: end;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        gap: 20px;
        flex-direction: column;

        input {
            height: 30px;
            padding: 0 10px;
            border-radius: 100px;
        }

        .form-buttons {
            display: flex;
            padding: 0;
            margin-top: 20px;
            gap: 10px;

            button {
                border-radius: 100px;
                border: none;
            }

            #cancel-button {
                background: lightgrey;
                color: black;
            }
            #submit-button {
                background: black;
                color: white;
            }
        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        border: none;

        .radio {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                margin-top: 0;
            }
        }
    }
}